/* Main Tags */
body
{
	background-color: #10141d;
	margin: 0;
}

/* Class Tags */
.logo
{
	font-family: Impact, Times, serif;
	font-size: 15pt;
}

.linkUnderline
{
	text-decoration: none;
}

.signUpContainer
{
	position: relative; top: 200px;
	margin: auto;
	width: 700px;
}

.signUpForm
{
	margin: auto;
	width: 300px; height: 300px;
	text-align: center;
}


/* ID Tags */
#pivotal
{
	color: indianred;
}

#echoes
{
	color: skyblue;
}

#beginYourStory
{
	text-align: center;
	font-size: 50pt;
	color: deepskyblue;
}

#name
{
	border: 1px solid steelblue; border-radius: 10px;
	margin: auto;
	width: 300px; height: 50px;
	font-size: 18px;
	text-align: center;
}

#beginStoryButton
{
	position: relative; top: 70px;
	border: 1px solid steelblue; border-radius: 10px;
	background-color: floralwhite;
	width: 200px; height: 50px;
	font-size: 15pt;
	transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
#beginStoryButton:hover
{
	transform: translateY(-5px);
	background-color: indianred;
	color: skyblue;
}