/* Class Tags */
.loginFile
{
    margin: 0;
    background-color: #10141d;
}

.mainFile
{
    background-image: url('alex.gif');
    background-size: cover;
    margin: 0;
}

.logo 
{
    border: 1px solid black;
    background-color: #10141d;
    height: 100px;
    font-family: 'Impact', 'Times New Roman', serif;
    font-size: 15pt;
}

.linkUnderline
{
    text-decoration: none;
}

.line
{
    position: relative; bottom: 10px;
}

.signUp
{
    position: relative; top: 100px;
    margin: auto;
    width: 300px;
    text-align: center;
}

.gameContainer
{
    display: flex;
    font-family: "Times New Roman", Times, serif;
}

.userStat
{
    position: absolute; left: 350px;
    border: 1px solid red; border-radius: 5px;
    background-color: #10141d;
    padding: 20px;
    color: white;
}

.dialogue
{
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    background-color: #10141d;
    color: white;
    max-width: 800px;   
}

.decisionPrompt
{
    color: skyblue;
}

.submitButton
{
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: color 0.3s;
}
.submitButton:hover
{
    color: skyblue;
}

.gameOver
{
    font-family: Impact, Times, serif;
    font-size: 12pt;
    color: red;
}

.goodDecision
{
    font-family: Impact, Times, serif;
    color: green;
}

/* ID Tags */
#pivotal
{
    color: indianred;
}

#echoes
{
    color: skyblue;
}

#beginYourStory
{
    position: relative; top: 100px;
    text-align: center;
    font-size: 50pt;
    color: deepskyblue;
}

#name
{
    border: 1px solid steelblue; border-radius: 10px;
    margin: auto;
    width: 300px; height: 50px;
    font-size: 18px;
    text-align: center;
}

#beginStoryButton
{
    position: relative; top: 50px;
    border: 1px solid steelblue; border-radius: 10px;
    background-color: floralwhite;
    width: 200px; height: 50px;
    font-size: 15pt;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
#beginStoryButton:hover
{
    transform: translateY(-5px);
    background-color: indianred;
    color: skyblue;
}

#welcomeRPG
{
    text-align: center;
    font-family: Tahoma, Times, serif;
    color: white;
}
